{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "parser": "typescript",
    "jsxBracketSameLine": true,
    "proseWrap": "preserve",
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false
}
